<h1>Customers#index</h1>
<p>Find me in app/views/customers/index.html.erb</p>

<% @customers.each do |customer| %>
  <%= customer.email %>
<% end %>

<div class="fullwidth">
  <div class="row">
    <div class="headertext-container">
      
    </div>
  </div>
  <div class="row">
    
  </div>
  <div class="row">
    
  </div>
  <div class="row">
    
  </div>
  <div class="row">
    
  </div>
</div>


  


