/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height:100%;
}

body {
  background-color: #FFFFFF;
  margin:0;
  height:100%;
}

form#mc-embedded-subscribe-form input.email{
  pointer-events: auto;
  position: absolute;
  border: 0px none rgb(216, 221, 228);
  border-radius: 8px;
  overflow: visible;
  z-index: 1;
  width: 458px;
  height: 50px;
  top: 0px;
  left: 1px;
  padding:0px;
  background-color: rgb(232, 232, 232);
}

form#mc-embedded-subscribe-form input.button {
  pointer-events: auto;
  position: absolute;
  z-index: 3;
  border: 0px none rgb(160, 160, 160);
  padding: 6px;
  -webkit-user-select: none;
  border-radius: 8px;
  line-height: 28px;
  word-wrap: break-word;
  display: inline;
  font-family: 'Lato';
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: rgb(255, 255, 255);
  cursor: pointer;
  overflow: visible;
  width: 180px;
  height: 50px;
  top: 0px;
  left: 483px;
  background-color: #F3BE1E;
}

#mc_embed_signup .button:hover {
  background-color:#F3BE1E;
}

#mc_embed_signup input.email {
  display:block; 
  padding:8px 0; margin:0 4% 10px 0; 
  text-indent:20px; width:58%; 
  min-width:130px;
  font-size:14px;
}


/* Landscape phones and down */
@media (max-width: 760px) {

 form#mc-embedded-subscribe-form input.email{
      width: 250px;
    }
    form#mc-embedded-subscribe-form input.button {
      top: 50px;
      left: 61px;
    }
}
